// **所有颜色变量**
// ================================================
// （无后缀为平常样式，sf 后缀 : Spring Festival / 春节）

// 当前强调色
$main-accent-color                    : #815424;

// 主要文字颜色
$main-text-color                      : #F5F5F5;

// 头图文字背景色
$headerText-background-color          : rgba(0, 0, 0, 0.5);

// 主要背景色
$body-background-color                : #555555;
$main-background-color                : #222222;
$main-background-color-sf             : #8B0000;

// 宜忌事项标识颜色
$allowTitle-color                     : #267F1B;
$disallowTitle-color                  : #FF0302;

// 边框颜色
$border-line-color                    : #F5F5F5;

// 分割线颜色
$splitLines-color                     : #939393;
$splitLines-color-sf                  : #E2D900;

// 底部版权信息条背景色
$footerCopyright-background-color     : #000000;
$footerCopyright-background-color-sf  : #570000;

// 按钮背景色
$button-background-color              : #222222;
$button-border-color                  : #000000;
