@charset "utf-8";
// 所有颜色变量 和 附加样式开关
@import "_color";
@import "_switch";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Microsoft YaHei', sans-serif;
}

:root {
    color-scheme: dark light;
}

body {
    background: $body-background-color;
}

canvas {
    display: none;
}

// 设置“主体内容层”样式
.main {
    width: 640px;
    height: auto;
    background: $main-background-color repeat;
    color: $main-text-color;
    position: relative;
    margin-bottom: 40px;

    // 设置“头图层”样式
    .headpic {
        position: relative;
        width: 640px;
        height: 360px;

        // 顶部项目名称栏
        .authorbanner {
            position: fixed;
            width: 640px;
            padding: 2px;
            background-color: $main-accent-color;
            color: $main-text-color;
            text-align: center;

            // 项目 Logo 框架
            .project-logo {
                width: 0;
                height: 0;
                position: absolute;
                top: -8px;
                left: -39px;
                z-index: 2;
                border-bottom: 60px solid $main-accent-color;
                border-left: 60px solid transparent;
                border-right: 60px solid transparent;
                transform: rotate(-45deg);

                // 项目 Logo 框架内图标
                img {
                    position: absolute;
                    top: 20px;
                    left: -14px;
                    width: 30px;
                    height: 30px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

//设置“头图层”图片样式 
.main .headpic {
    img {
        width: 100%;
        height: 100%;
    }

    // 设置“头图层”图片信息样式
    span.imginfo {
        position: absolute;
        padding: 10px;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: left;
        font-size: 18px;
        background: $headerText-background-color;
        word-wrap: break-word;
    }
}

// 设置“新闻横幅”样式
.main .important-news {
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: $main-accent-color;
    color: $main-text-color;
    text-align: center;

    // 新闻横幅内容
    span.maininfo {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.2px;
    }
}

// 设置“主要信息层”样式，使用弹性布局
.main .info {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    // 设置日期时间层和农历信息层样式，在同一主层平分
    .date,
    .nongli {
        width: calc(100% / 2);
        height: auto;
    }

    // 日期时间层
    .date {
        text-align: center;
        position: relative;

        // 时间盒样式
        .timebox {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            // 农历
            .nongliyear {
                font-size: 16px;

                &::before {
                    content: '【';
                }

                &::after {
                    content: '】';
                }
            }

            // 时间盒 - 时间
            .time {
                font-size: 75px;
                font-weight: 700;
                padding-bottom: 10px;
            }
        }

        // 时间盒 - 日期
        .riqi {
            font-size: 24px;
        }

        // 时间盒 - 年份
        .year {
            font-size: 36px;
            font-weight: 700;
            margin-top: 6px;
        }
    }

    // 农历信息层
    .nongli {
        margin-right: 42px;
        height: 228px;
        position: relative;

        // 时间盒样式
        .timebox {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            // 农历信息层 - 主要标题
            h2.nongliname {
                text-align: center;
                font-weight: 700;
                padding: 10px 10px 10px 59px;
                background: url('/images/calendar.png') no-repeat 55px 12px;
            }

            // 农历信息层 - 当日事件
            table.events {
                font-size: 18px;
                border-collapse: collapse;
                border-spacing: 0;

                tr td {
                    border-width: 1px;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;

                    &.yijiContent {
                        padding: 10px 0 10px 5px;
                    }

                    &.col {
                        border-color: inherit;
                        text-align: left;

                        span.yijiTitle {
                            display: inline-block;
                            vertical-align: middle;
                            width: 24px;
                            height: 24px;
                            border-radius: 6px;
                            font-weight: 700;
                            margin-right: 4px;
                            border: 2px solid $border-line-color;

                            &.allow {
                                background-color: $allowTitle-color;
                            }

                            &.disallow {
                                background-color: $disallowTitle-color;
                            }
                        }
                    }
                }

                th {
                    border-width: 1px;
                    font-size: 18px;
                    font-weight: normal;
                    overflow: hidden;
                    word-break: normal;
                }
            }
        }
    }
}

// 接下来几日事件
.main .future {
    padding: 16px 10px 40px 10px;
    text-align: center;

    span.sepline {
        display: block;
        width: 90%;
        height: 1px;
        border: 1px solid $splitLines-color;
        background: $splitLines-color;
        margin: 0 auto;
    }

    h3 {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        padding: 0 28px;
        line-height: 1.8;

        span.current {
            padding: 4px 6px;
            border-radius: 6px;
            color: $main-text-color;
            background-color: $main-accent-color;
            font-weight: 700;
        }
    }
}

// 版权层
.main footer {
    background: $footerCopyright-background-color;
    color: $main-text-color;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    height: 48px;

    .watermark {
        width: 48px;
        height: 48px;
        float: left;
        background: $main-accent-color;

        img {
            width: 100%;
            height: 100%;
            padding: 3px;
        }
    }

    span.copyright-text {
        display: inline-block;
        width: calc(640px - 48px);
        height: 48px;
        padding: 8px;
    }
}

// 下载图片
a#save_href {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 4px;
    border: 4px solid $button-border-color;
    background: $main-accent-color;
    color: $main-text-color;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;

    &:hover {
        background: darken($main-accent-color, 8);
    }
}
